.location-show-container {
  text-align: center;
    background-color: #FEF8EC;
    border-radius: 2px;
    box-shadow: 0px 0px 5px #E3E3DE;
}

.address {
 padding: 10px;
 text-align: right;
 font-size: x-large;
 font-family: 'Nunito';
 letter-spacing: 2px;
}

.photo-banner {
  img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    padding-bottom: 2px;
  }
}

.photo-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1px;
  height: 100%;
  margin-left: 4px;
}

.photo-card-category {
  background-size: cover;
  background-position: center;
  height: 120px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 1px;
}

.icons-row {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.icons {
  img {
    height: 35px;
    padding: 5px;
  }
}
