.container {
  display: flex;
  justify-content: center;
}

.simple_form {
  text-align: center;
  background-color: #FEF8EC;
  margin: 20px 10px;
  padding: 20px;
  border-radius: 2px;
  border-color: black;

}

.form-actions {
  text-align: center;
}

.btn {
    border-radius: 5px;
    background-color: #F8C963;
    border-color: black;
    color: black;
  }

.btn:hover {
    border-radius: 5px;
    background-color: #F8C963;
    border-color: black;
    color: black;
  }

label {
  display: none;
}

input[type="file"] {
  opacity: 0;
}

.custom-file-upload {
    // border: 1px solid #ccc;
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    background-image: url("https://www.flaticon.com/svg/vstatic/svg/685/685655.svg?token=exp=1613802990~hmac=b9b2a6d6ed466ebd87b6d7d4eeee9fcf");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50px;
}

.benchmark_preview {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}
