.benchmark-container {
  justify-content: center;

  .simple_form {
    text-align: center;
    background-color: #FEF8EC;
    margin: 10px 10px;
    padding: 20px;
    border-radius: 2px;
    box-shadow: 0px 0px 5px #E3E3DE;
  }

  .form-actions {
    text-align: center;
  }

  label {
    display: none;
  }

  input[type="file"] {
    opacity: 0;
  }

  .custom-file-upload {
      // border: 1px solid #ccc;
      display: inline-block;
      padding: 10px;
      cursor: pointer;
      background-image: url("camera.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 40px;
  }

  .benchmark_preview {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 3px;
    box-shadow: 0px 0px 3px #E3E3DE;
  }

  .home_link {
    margin-top: 10px;

    a:hover, a:visited, a:link, a:active {
      color: black;
      opacity: 0.5;
      text-decoration: underline;
      font-size: 10px;
    }
  }
}

.btn {
    border-radius: 5px;
    background-color: #F8C963;
    border-color: #F8C963;
    box-shadow: 0px 0px 5px #D9D9D3;
    color: #F6F6F4;
  }

.btn:hover {
   border-radius: 5px;
    background-color: #F8C963;
    border-color: #F8C963;
    box-shadow: 0px 0px 5px #D9D9D3;
    color: #F6F6F4;
  }
