<!-- <p>
  <label for="imageFile">take your benchmark pic here:</label><br>
  <input type="file" id="imageFile" capture="user" accept="image/*;capture=camera">
</p>
 -->
<div class='container'>
  <%= render 'form', benchmark_pic: @benchmark_pic,:item_wrapper_class => 'simple_form' %>
</div>
