<%= render 'shared/navbar' %>
<div class="banner-container">
  <div class="container-fluid">
    <div class="row">

      <div class="banner">
        <h2>say no to crappy photos
          <br>use croppi
        </h2>
        <button type="button" class="btn btn-primary"><%= link_to "shoot", new_location_benchmark_pic_path(@location) %>
      </button>
      <br>
        <div class="map_link">
          <%= link_to "checkout photos nearby", locations_path %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class='container'> -->

  <div class="pl-1">
    <img src="https://res.cloudinary.com/cyee3012/image/upload/v1615463129/placeholder_jfmkgr.svg" alt="shutter">
    Bali </div>
    <div class="cards">
      <div id ="myImg" class="card" style="background-image: url(https://res.cloudinary.com/dlzehsqej/image/upload/q_auto/v1614996624/image_muk20j.jpg)" data-bigger-src="https://res.cloudinary.com/dlzehsqej/image/upload/v1614996624/image_muk20j.jpg"> </div>
      <div id="myImg" class="card" style="background-image: url(https://res.cloudinary.com/dlzehsqej/image/upload/q_auto/v1614996632/IMG_8666-1_ambt1d.jpg)" data-bigger-src="https://res.cloudinary.com/dlzehsqej/image/upload/q_auto/v1614996632/IMG_8666-1_ambt1d.jpg"> </div>
      <div id ="myImg" class="card" style="background-image: url(https://res.cloudinary.com/dlzehsqej/image/upload/q_auto/v1614996640/news-78_ncucsa.jpg)" data-bigger-src="https://res.cloudinary.com/dlzehsqej/image/upload/v1614996640/news-78_ncucsa.jpg"> </div>
    </div>

  <div class='pl-1'>
    <img src="https://res.cloudinary.com/cyee3012/image/upload/v1615463129/placeholder_jfmkgr.svg" alt="shutter">
    United Kingdom </div>
    <div class="cards">
       <div id ="myImg" class="card" style="background-image: url(https://res.cloudinary.com/dlzehsqej/image/upload/q_auto/v1614997234/UK-1_pa5iot.jpg)" data-bigger-src="https://res.cloudinary.com/dlzehsqej/image/upload/v1614997234/UK-1_pa5iot.jpg"> </div>
       <div id ="myImg" class="card" style="background-image: url(https://res.cloudinary.com/dlzehsqej/image/upload/q_auto/v1614997242/UK-2_vuftp7.jpg)" data-bigger-src="https://res.cloudinary.com/dlzehsqej/image/upload/v1614997242/UK-2_vuftp7.jpg"> </div>
       <div id ="myImg" class="card" style="background-image: url(https://res.cloudinary.com/dlzehsqej/image/upload/q_auto/v1614997250/UK-4_ratwmq.jpg)" data-bigger-src="https://res.cloudinary.com/dlzehsqej/image/upload/v1614997250/UK-4_ratwmq.jpg"> </div>
    </div>

  <div class='pl-1'>
    <img src="https://res.cloudinary.com/cyee3012/image/upload/v1615463129/placeholder_jfmkgr.svg" alt="shutter">
    Los Angeles </div>
    <div class="cards">
      <div id ="myImg" class="card" style="background-image: url(https://res.cloudinary.com/dlzehsqej/image/upload/q_auto/v1614997525/LA-1_wg1kr7.jpg)" data-bigger-src="https://res.cloudinary.com/dlzehsqej/image/upload/v1614997525/LA-1_wg1kr7.jpg"> </div>
       <div id ="myImg" class="card" style="background-image: url(https://res.cloudinary.com/dlzehsqej/image/upload/q_auto/v1614997534/LA-2_grbrhb.jpg)" data-bigger-src="https://res.cloudinary.com/dlzehsqej/image/upload/v1614997534/LA-2_grbrhb.jpg"> </div>
       <div id ="myImg" class="card" style="background-image: url(https://res.cloudinary.com/dlzehsqej/image/upload/q_auto/v1614997539/LA-3_o2g4vu.jpg)" data-bigger-src="https://res.cloudinary.com/dlzehsqej/image/upload/v1614997539/LA-3_o2g4vu.jpg"> </div>
    </div>

<!-- </div> -->
                                                    <!-- The Modal -->

<div id="myModal" class="modal">
  <span class="close">&times;</span>
  <img id="modal-img" class="modal-content"  src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQS2ol73JZj6-IqypxPZXYS3rRiPwKteoD8vezk9QsRdkjt3jEn&usqp=CAU">


  <div id="caption"></div>
</div>


