<div class="container">
  <div class="row">

    <div class="banner">
      <h2>say no to crappy photos
        <br>use croppi
      </h2>
      <button type="button" class="btn btn-primary"><%= link_to "shoot", new_benchmark_pic_path %>
</button>
    </div>
  </div>
</div>
