<%= render 'shared/navbar' %>
<div class="banner-container">
  <div class="row">

    <div class="banner">
      <h2>say no to crappy photos
        <br>use croppi
      </h2>
      <button type="button" class="btn btn-primary"><%= link_to "shoot", new_location_benchmark_pic_path(@location) %>
    </button>
    <br>
      <div class="map_link">
        <%= link_to "checkout photos nearby", locations_path %>
      </div>
    </div>
  </div>
</div>
