<!--Create a new final pic here-->
Create a new final pic here <br>

<div class="photo-container">
  <img class="final_pic" src="http://home.bt.com/images/gym-selfie-136436761176610401-190605084708.jpg" alt="final_pic">
  <%= cl_image_tag @benchmark_pic.photo.key, class: 'benchmark_pic' %>
</div>
