<div class='final_pic-container'>
  <div class='column'>
    <%= cl_image_tag @final_pic.photo.key %>
    <button type="button" class="btn btn-primary"><%= link_to "retake?", edit_final_pic_path(@final_pic) %></button>
    <div class='pad'>
      <%= social_share_button_tag('share') %>
      <br>
    </div>
    <div class="home_link">
      <%= link_to "home", root_path %>
    </div>
  </div>



</div>


