<div class='final_pic-container'>
  <div class='column'>
    <%= cl_image_tag @final_pic.photo.key %>
    <button type="button" class="btn btn-primary"><%= link_to "retake?", edit_final_pic_path(@final_pic) %></button>
    <div class='pad'>
<!--       <%= social_share_button_tag('share') %>
 -->
    </div>
    <div class="icon-row">
      <div class="facebook-share-button" data="facebook"></div>
      <div class="twitter-share-button" data="twitter"></div>
      <div class="instagram-share-button" data="instagram"></div>
      <div class="tumblr-share-button" data="tumblr"></div>
      <div class="line-share-button" data="line"></div>

    </div>
    <div class="home_link">
      <%= link_to "home", root_path %>
    </div>
  </div>


</div>


