<div class='final_pic-container'>
  <div class='column'>
    <%= cl_image_tag @final_pic.photo.key %>
    <button type="button" class="btn btn-primary"><%= link_to "retake?", edit_final_pic_path(@final_pic) %></button>
    <div class='pad'>
<!--       <%= social_share_button_tag('share') %>
 -->
    </div>
    <div class="icon-row">
      <button class="facebook-share-button" data="facebook"></button>
      <button class="twitter-share-button" data="twitter"></button>
      <button class="instagram-share-button" data="instagram"></button>
      <button class="tumblr-share-button" data="tumblr"></button>
      <button class="line-share-button" data="line"></button>

    </div>
    <div class="home_link">
      <%= link_to "home", root_path %>
    </div>
  </div>
</div>


