<div class='final_pic-container text-center'>
<%= cl_image_tag @final_pic.photo.key %>
<button type="button" class="btn btn-primary"><%= link_to "retake?", edit_benchmark_pic_final_pic_path(@final_pic) %>
</div>


  <div class='pad'>
    <%= social_share_button_tag('share') %>
  </div>
