.banner {
  background-image: linear-gradient(to left, rgba(245, 246, 252, 0.52), rgba(0, 0, 0, 0.1)), url(https://source.unsplash.com/random/1000x500);
  background-size: cover;
  padding: 120px 0;
  width: 100%;

  h2 {
    font-size: 20px;
    color: white;
    opacity: 0.9;
    padding-left: 40px;
  }

  button {
    margin-left: 40px;
    box-shadow: none;
  }

  a:hover, a:visited, a:link, a:active {
    color: white;
    opacity: 0.9;
    text-decoration: none;
    border-color: #F8C963;
  }

  .map_link {
    padding-left: 40px;
    a:hover, a:visited, a:link, a:active {
      font-size: 10px;
      opacity: 0.8;
      text-decoration: underline;
    }
  }
}

