.form-actions{
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  color: #212529;
  background: #ECEB03;
}
