// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "social-share-button";

$size: 48px;
.social-share-button {
  .ssb-icon {
    background-size: $size $size;
    height: $size;
    width: $size;
    padding: auto;
    margin: auto;
  }
}
@import "final_pics/new";
@import "benchmark_pics/new";
@import "components/banner";
@import "final_pics/show";
