.photo-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  border: 2px solid black;
}

.final_pic, .benchmark_pic {
  position: absolute;
  object-fit: cover;
  width: 100%;
  // height: 100%;
}

.benchmark_pic {
  filter: opacity(0.5);
}

.selfie-video {
  width: 100%;
  position: absolute;
  // height: 100%;
}
.selfie-startbutton {
  position: fixed;
  bottom: 8px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 48px;
  margin: 0;
  text-shadow: 0 0 8px rgba(255,255,255,0.7);
  cursor: pointer;

  img {
  height: 100px;
  padding-bottom: 30px;
  }

}
