.final_pic-container {
  padding-top: 8px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  background-color: #FEF8EC;
  margin: 10px 10px;
  padding: 20px;
  border-radius: 2px;
  box-shadow: 0px 0px 5px #E3E3DE;
  display: flex;
  justify-content: center;

  img {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 3px;
    box-shadow: 0px 0px 3px #E3E3DE;
    margin-bottom: 10px;
  }

  button {
    margin: 5px;
  }

  a:hover, a:visited, a:link, a:active {
    color: white;
    opacity: 0.9;
    text-decoration: none;
    border-color: #F8C963;
  }

  .pad {
   width: 100%;
   padding-right: 15px;
   padding-left: 15px;
   margin-right: auto;
   margin-left: auto;
   display: flex;
   justify-content: center;
   padding-top: 0px;
  }

  .social-share-button .ssb-twitter {
      background-image: url("twitter.svg");
      background-size: 35px;
  }

  .social-share-button .ssb-facebook {
      background-image: url("facebook.svg");
      background-size: 35px;
  }

  .social-share-button .ssb-tumblr {
      background-image: url("tumblr.svg");
      background-size: 35px;
  }
}



