<div> photo from the map </div>

<div> photos that people took </div>

<div> navigation bar </div>


<div class="cards">
  <div class="card-category" style="">
    Map
  </div>

  <div class="card-category" style="">
    Camera
  </div>

  <div class="card-category" style="">
    Direction
  </div>
</div>
