<div> photo from the map </div>

<div> photos that people took </div>

<% @location.benchmark_pics.each do |benchmark_pic| %>
<% if benchmark_pic.photo.attached? %>
<%= cl_image_tag benchmark_pic.photo.key %>
<% else %>
<%= image_tag 'beach.jpg' %>
<% end %>

<% end %>




<div> navigation bar </div>


<div class="cards">
  <div class="card-category" style="">
    <%= link_to "Map", locations_path %>
  </div>

  <div class="card-category" style="">
    <%= link_to "Camera", new_benchmark_pic_path(@location) %>
  </div>

  <div class="card-category" style="">
    Direction
  </div>
</div>
